-# 会員情報編集画面 

-# ヘッダー
.wrapper

  = render '/layouts/simple_headder.html.haml'

  - breadcrumb :users_edit
  = render "layouts/breadcrumbs"

  .user-sign

    .user-sign__forms
      %h1.user-sign__forms__title 会員情報編集
      = form_for(resource, as: resource_name, url: users_update_path, html: { method: :patch }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .user-sign__forms__title__contents
          .user-sign__forms__title__contents__group

            .field
              = f.label :ニックネーム
              %br/
              = f.text_field :nickname, placeholder:"例）フリーマ", required:"required", class:"input-form"
            
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email"
            
            .field
              = f.label :名字
              %br/
              = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
            
            .field
              = f.label :名字フリガナ
              %br/
              = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
            
            .field
              = f.label :名前
              %br/
              = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
            
            .field
              = f.label :名前フリガナ
              %br/
              = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"
            .field
              = f.label :生年月日
              %br/
              = f.date_select :birthday, use_month_numbers: true, start_year: (Time.now.year), end_year: 1900, prompt:"--"

            .field-introduce
              = f.label :自己紹介
              %br/
              = f.text_area :introduce, autofocus: true, autocomplete: "introduce" , class: 'introduce-area'
            
            .field-avter
              = f.label :マイアバター
              %br/
              = f.label :avter, id: 'image_label' do
                .prev-contents
                  -# 既に登録されている画像があれば表示をさせます
                  - if current_user.avter.present?
                    .prev-content
                      = image_tag @user.avter.url, id: "img_prev"
                      -# 既に登録されている画像がなければiconを表示させます
                  - else
                    = image_tag 'icon/member_photo_noimage_thumb.png',id: 'img_prev'
                    -# file_fieldはdisplay: none;で隠します
                = f.file_field :avter, class: 'hidden_file'

            .field
              = f.label :current_password
              %span.form-require 必須
              %i (更新を完了するには現在のパスワードを入力してください)
              %br/
              = f.password_field :password, autocomplete: "current-password"
            
            .actions
              = f.submit "更新" , class:"emerald-btn"

  .main-product-footer
    = render partial: 'layouts/registrations_footer'