-# 送付先住所情報編集画面

-# ヘッダーはここから
.wrapper
  = render 'layouts/simple_headder'
  
  .user-sign
    .user-sign__forms
      %h1.user-sign__forms__title 商品送付先住所登録
      = form_with model: @address, url: addresses_update_path, local: true do |f|
        = render "devise/shared/error_messages", resource: @address
        .user-sign__forms__title__contents
          .user-sign__forms__title__contents__group
            .field
              = f.label :送付先名字
              %br/
              = f.text_field :first_name

            .field
              = f.label :送付先名字フリガナ
              %br/
              = f.text_field :first_name_kana
        
            .field
              = f.label :送付先名前
              %br/
              = f.text_field :last_name
        
            .field
              = f.label :送付先名前フリガナ
              %br/
              = f.text_field :last_name_kana
        
            .field
              = f.label :郵便番号
              %br/
              = f.text_field :postal_code, placeholder:"1235678", required:"required", class:"input-form"
        
            .field
              = f.label :都道府県
              %br/
              = f.text_field :prefectur, placeholder:"東京都", required:"required", class:"input-form"
              
            .field
              = f.label :市区町村
              %br/
              = f.text_field :city, placeholder:"渋谷区", required:"required", class:"input-form"
        
            .field
              = f.label :番地
              %br/
              = f.text_field :house_number, placeholder:"富ケ谷１丁目", required:"required", class:"input-form"
        
            .field
              = f.label :マンション・ビル名※部屋番号は任意
              = f.text_field :apartment, placeholder:"〇〇ビル〇〇号室", class:"input-form"
        
            .field
              = f.label :電話番号※任意
              = f.text_field :phone, placeholder:"09012345678", class:"input-form"
        
            -# .field 現在addressテーブルにcurrent_passwordのカラムがないので、コメントアウト
            -#   = f.label :current_password
            -#   %span.form-require 必須
            -#   %i (更新を完了するには現在のパスワードを入力してください)
            -#   %br/
            -#   = f.password_field :password, autocomplete: "current-password"
            
            .actions
              = f.submit "更新" , class:"emerald-btn"

    .main-product-footer
      = render 'layouts/registrations_footer'
      -# フッターはここから