// 新規会員登録画面


-# ヘッダー
.wrapper
  .header
    .header-logo
      = link_to image_tag('/assets/logo/logo.png', alt: 'text', height: '60', width: '200', class: 'icon'), root_path
      %nav.progress-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status__active
          %li
            送付先情報
            .progress-status
          %li.end
            登録完了
            .progress-status__end

  

    -# メイン
  .user-sign
    .user-sign__forms
      %h1.user-sign__forms__title 会員情報入力
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .user-sign__forms__title__contents
          .user-sign__forms__title__contents__group
            .field
              = f.label :ニックネーム
              %span.form-require 必須
              %br/
              = f.text_field :nickname, placeholder:"例）フリーマ", required:"required", class:"input-form"
            .field
              = f.label :メールアドレス
              %span.form-require 必須
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可", required:"required", class:"input-form"
            - if @sns_id.present?
              = hidden_field_tag :sns_auth, true
            - else
            .field
              = f.label :パスワード
              %span.form-require 必須
              %br/
              - if @minimum_password_length
                %em
              = f.password_field :password, autocomplete: "new-password", placeholder:"7文字以上の半角英数字", required:"required", class:"input-form"
              %p.note ※英字と数字の両方を含めて設定してください
            
            .field
              = f.label :確認用パスワード
              %span.form-require 必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"7文字以上の半角英数字", required:"required", class:"input-form"
            %div
              %p#identification 本人確認
              %p.single-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      
            .field
              = f.label :名字
              %span.form-require 必須
              %br/
              = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
            
            .field
              = f.label :名字フリガナ
              %span.form-require 必須
              %br/
              = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
            
            .field
              = f.label :名前
              %span.form-require 必須
              %br/
              = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
            
            .field
              = f.label :名前フリガナ
              %span.form-require 必須
              %br/
              = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"
        
            .field
              = f.label :生年月日
              %span.form-require 必須
              %br/
              = f.date_select :birthday, use_month_numbers: true, start_year: (Time.now.year), end_year: 1900, prompt:"--"
            %p.note ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            
            .actions
              = f.submit "次へ進む", class:"red-btn"

      -# フッター
    .main-product-footer
      .main-product-footer-logo1
        %p プライバシーポリシー
        %p フリマ利用規約
        %p 特定商取引に関する表記
      .main-product-footer-logo2
        = link_to image_tag('/assets/logo/logo-white.png', alt: 'text', height: '40', width: '140', class: 'icon'), root_path
      .main-product-footer-logo3
        %p © FURIMA,Inc.