.myheader
  = render partial: 'items/header'

.mains
  .left-box
    = render partial: 'mypage_left'
  .right-box
    .right-box__title
      %h2
        購入した商品
    .right-box__tab
      .center
        購入済み
    .right-box__contents
      - if @items
        - @items.each do |item|
          .right-box__contents__content
            = link_to item_path(id: item.id) do
              .image
                = image_tag item.images.first.image_url
              .info
                .name
                  = item.name
                  = icon("fas","angle-double-right")
                .icons
                  .like
                    = icon("far", "heart")
                    = item.liking_users.count
                  .comment
                    = icon("far", "comment-dots")
                    = item.comments.count
.myfooter
  = render partial: 'items/footer'

:css
  .left-box {
    margin-left: 150px;
  }