-# ログインページ

-# ヘッダー
.wrapper
  .main-product
    .main-product-header
      .main-product-header-logo
        = link_to image_tag(asset_path('logo/logo.png'), alt: 'text', height: '60', width: '200', class: 'icon'), root_path
        - breadcrumb :sign_in
        = render "layouts/breadcrumbs"

    -# メイン
  .sign-in
    .sign-in__forms
      .sign-in__forms__title
        %p.note アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path, class:"blue-btn"
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        -# = render "devise/shared/error_messages", resource: resource_name
        .sign-in__up__form__contents
          .sign-in__up__form__contents__content

            .field-email
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"登録したメールアドレス", class:"input-form"
            .field-password
              = f.password_field :password, autocomplete: "current-password", placeholder:"登録したパスワード", class:"input-form"
            .actions
              = f.submit "ログイン", class:"emerald-btn"
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
            
    .main-product-footer
      = render partial: 'layouts/registrations_footer'