.wrapper
  = render '/layouts/simple_headder.html.haml'

  .confirm
    .confirm__top
      %h2 購入内容の確認
    .confirm__item
      .confirm__item__info
        .confirm__item__info__image
          = image_tag @item.images[0].image.url
        .confirm__item__info__name
          %p 
            = @item.name
          .price
            %p1 
              = "¥" + @item.price
            %p2 (税込) 送料込み

    .confirm__price
      .confirm__price__text
        %p 支払い金額
        %p1 
          = "¥" + @item.price
      .confirm__price__check
        = check_box_tag :check1
        = label_tag :check1, "ポイントを使用(所持ポイント:P100)"
    
    .confirm__pey
      .confirm__pey__top
        %p 支払い方法
        = link_to '変更する'
      .confirm__pey__card
        %p クレジットカード
        %p 
          = "**** **** **** " + @customer_card.last4
        %p 
          = "有効期限 " + @exp_month + " / " + @exp_year
        %p1 
          = image_tag "credit/#{@card_src}", class: "credit_card_info__brand__img", alt: @card_brand

    .confirm__buy
      .confirm__buy__text
        %p
          郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      .confirm__buy__submit
        = form_tag(action: :pay, method: :post) do
          %button 購入する
  
  
  
  .main-product-footer
    .main-product-footer-logo1
      %p プライバシーポリシー
      %p フリマ利用規約
      %p 特定商取引に関する表記
    .main-product-footer-logo2
      = link_to image_tag(asset_path('logo/logo-white.png'), alt: 'text', height: '40', width: '140', class: 'icon'), root_path
    .main-product-footer-logo3
      %p © FURIMA,Inc.