%header
  .header-inner
    .header-inner__main
      %h1.header-inner__main__icon
        = link_to "/" do
          = image_tag 'logo/logo.png'
      .header-inner__main__box
        = form_with url: "/" do |form|
          = form.text_field :key, id:"seach-input", class:"seach-box-input", placeholder:"キーワードから探す"
          %button{type: "submit"}
            .search-icon
              = image_tag 'icon/icon-search 1.png'
    .header-inner__nav
      %ul.lists-left
        %li.lists-left__first.lists-left__list
          = link_to "/" do
            = "カテゴリー"
        %li.lists-left__list
          = link_to "/" do
            = "ブランド"
      %ul.lists-right
        - if user_signed_in?
          %li.lists-right__list
            = link_to "マイページ"
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.lists-right__list
            = link_to "ログイン", new_user_session_path
            = link_to "新規会員登録", new_user_registration_path