.wrapper1
  = render '/layouts/simple_headder.html.haml'

  .wrapper2
    = form_with(model: @item, local: true) do |form|
      .main-product2
        .product-listing-part
          .product-listing1
            .exhibition-image
              %p 出品画像 
            .exhibition-image-required
              %p 必須
          .product-listing2
            .exhibition-image-required-comments
              %p 最大10枚までアップロードできます
            .upload-space
              .icon

                #image-box
                  #previews

                    - if @item.persisted?
                      - @item.images.each_with_index do |image, i|
                        = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
                  = form.fields_for :images do |image|
                    = image.label :image, class: "icon", id: "image-label" do
                      = icon("fas", "camera")
                      .js-file_group{"data-index" => "#{image.index}"}
                        = image.file_field :image, class: 'js-file'
                      -if @item.errors.messages[:name].any?
                        .error-message
                        %p2 画像がありません
                      -# %span.js-remove 削除
                    - if @item.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  - if @item.persisted?
                    .js-file_group{"data-index": "#{@item.images.count}"}
                      = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                      .js-remove 削除
                  .icon-comment
                    %p#text ドラッグアンドドロップ
                    %p#text またはクリックしてファイルをアップロード


    
        .product-listing3
          .product-name1
            .product-name2
              %p 商品名 
            .product-name-required
              %p 必須
          .input-form
            = form.text_field :name, placeholder: '40文字まで'
            -if @item.errors.messages[:name].any?
              .error-message
                %p2 40字以内で必ず入力してください



        .product-description
          .product-description1
            .product-description2
              %p 商品の説明
            .product-description-required
              %p 必須
          .input-form-detail
            = form.text_area :detail, placeholder: '商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。'
            -if @item.errors.messages[:name].any?
              .error-message
                %p2 必ず入力してください

        .product-details-part
          %p1 商品の詳細
          .product-details
            .product-details1
              %p カテゴリー 
            .product-details-required
              %p 必須
          .input-form1
            .input-form-comment
              .listing-form-box
                .listing-product-detail__category
                  .listing-select-wrapper
                    .listing-select-wrapper__box
                      - category_parent_array = ["---"]
                      - Categorie.where(ancestry: nil).each do |parent|
                        - category_parent_array << parent.name
                      = form.select :category_id, category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                      -if @item.errors.messages[:name].any?
                        .error-message
                        %p2 必ず入力してください


          .brand-category
            .brand
              .brand1
                %p ブランド 
              .brand-required
                %p 任意
            .input-form1
              = form.text_field :brand
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 必ず入力してください
          .product-status-category
            .product-status
              .product-status1
                %p 商品の状態 
              .product-status-required
                %p 必須
            .input-form1
              = form.collection_select(:status_id, Status.all, :id, :name, {include_blank: "---"})
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 必ず入力してください
                
        .Regarding-delivery
          %p 配送について
      
          .shipping-fee-burden-category
            .shipping-fee-burden
              .shipping-fee-burden1
                %p 配送料の負担 
              .shipping-fee-burden-required
                %p 必須
            .input-form
              = form.collection_select(:postage_id, Postage.all, :id, :name, {include_blank: "---"})
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 必ず入力してください

          .shipping-method
            .shipping-method-top
              .shipping-method-top-text
                %p 発送方法
              .shipping-method-top-required
                %p 必須
            .input-form
              = form.collection_select(:shipping_method_id, ShippingMethod.all, :id, :name, {include_blank: "---"})
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 必ず入力してください

          .shipping-region-category
            .shipping-region
              .shipping-region1
                %p 発送元の地域
              .shipping-region-required
                %p 必須
            .input-form
              = form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"})
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 必ず入力してください
      
      
          .days-until-shipping-category
            .days-until-shipping
              .days-until-shipping1
                %p 発送までの日数
              .days-until-shipping-required
                %p 必須
            .input-form
              = form.collection_select(:shipping_day_id, ShippingDay.all, :id, :name, {include_blank: "---"})
              -if @item.errors.messages[:name].any?
                .error-message
                %p2 40文字以内で必ず入力してください
                
        .price-part
          .price
            %p 価格 (¥300〜9,999,999）
      
          .selling-price-category
            .selling-price
              .selling-price1
                %p 販売価格
              .selling-price-required
                %p 必須
              .input-form
                .input-form2
                  %P ¥
                  = form.number_field :price,placeholder: "例) 300", type: "number",class:"price_form-box",id:"item_price_calc"
                  .input-form-comment 
                    -if @item.errors.messages[:name].any?
                      .error-message
                      %p2 300以上9999999以下で必ず入力してください
                
            .choice1
              %p 販売手数料（10%）
              .right_bar

            .choice2 
              %p 販売利益
              .right_bar_2


        .btn
          .sell
            = button_tag "出品する", type: 'submit', class: 'sell-comment'
          .save-draft
            = button_tag "下書きに保存" , class: 'save-draft-comment'
          .return
            =link_to"もどる", root_path
            
        .terms
          %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  
      .main-product-footer
        = render partial: 'layouts/registrations_footer'