%body
  = render partial: 'header'
  .breadCrumbs
    %ul
      = link_to "/" do
        = "FURIMA"
        %i.fa.fa-angle-right
      - @parents.each do |parent|
        -if @item.category_id == parent.id
          = link_to '#' do
            = parent.name
            %i.fa.fa-angle-right
        - parent.children.each do |child|
          -if @item.category_id == child.id
            = link_to '#' do
              = parent.name
            = link_to '#' do
              = child.name
          - child.children.each do |grandchild|
            -if @item.category_id == grandchild.id
              = link_to '#' do
                = parent.name
              %br
              = link_to '#' do
                = child.name
              %br
              = link_to '#' do
                = grandchild.name
              %br
      %p 
        = @item.name
  .min
    .showMain
      .contentLeftqq
      .contentRight
        .topContent
          .itemBox
            %h2.itemBox__name
              = @item.name
            .itemBox__body
              %ul
                %li
                  = image_tag @item.images[0].image_url
                  %ul
                    - @img.each do |img|
                      %li
                        = image_tag img.image_url
            .itemBox__price
              %span
                = @item.price + "円"
              .itemBox__price__detail
                %span2
                  = "(税込)"
                %span2
                  = @item.postage.name
            .buy
              - if user_signed_in? && current_user.id == @item.seller_id
                = link_to "商品を編集する", edit_item_url
              - elsif user_signed_in? && current_user.id != @item.seller_id
                = link_to "購入画面に進む", item_purchase_index_path(@item.id), method: :get
              - else
                = link_to "ログインして下さい", new_user_session_path
            .itemDetail 
              = @item.detail
            .table
              %table
                %tbody
                  %tr
                    %th 
                      = "出品者"
                    %td 
                      = link_to "#{@user.nickname}", all_items_user_path(id: @user.id)
                  %tr
                    %th 
                      = "カテゴリー"
                    %td
                      - @parents.each do |parent|
                        -if @item.category_id == parent.id
                          = link_to '#' do
                            = parent.name
                            %br
                        - parent.children.each do |child|
                          -if @item.category_id == child.id
                            = link_to '#' do
                              = parent.name
                              %br
                            = link_to '#' do
                              = child.name
                              %br
                          - child.children.each do |grandchild|
                            -if @item.category_id == grandchild.id
                              = link_to '#' do
                                = parent.name
                              %br
                              = link_to '#' do
                                = child.name
                              %br
                              = link_to '#' do
                                = grandchild.name
                              %br
                  %tr
                    %th 
                      = "ブランド"
                    %td
                  -# %tr
                  -#   %th 
                  -#     = "商品のサイズ"
                  -#   %td
                  %tr
                    %th 
                      = "商品の状態"
                    %td 
                      = @item.status.name
                  %tr
                    %th 
                      = "配送料の負担"
                    %td 
                      = @item.postage.name
                  %tr
                    %th 
                      = "発送元の地域"
                    %td
                      = link_to "/" do

                        = @item.prefecture.name

                  %tr
                    %th 
                      = "発送日の目安"
                    %td 
                      = @item.shipping_day.name
            .optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %ul#likeBtn
                    - if user_signed_in?
                      = render partial: 'likes/like', locals: { item: @item}
                    - else
                      = "いいね：#{@item.liking_users.count}"



              %ul.optional
                %li.optionalBtn
                  = link_to "/" do
                    %i.fa.fa-flag
                      = "不適切な商品の通報"
          .commentBox
            %ul.commentContents
              - if user_signed_in?
                = form_with model: [@item, @comment], local: true do |form|
                  = form.text_area :text,id:"comment_body"
                  %p.noticeMsg
                    = "相手のことを考え丁寧なコメントを心がけましょう。"
                    %br/
                    = "不快な言葉遣いなどは利用制限や退会処分となることがあります。"
                  %br/
                  = button_tag type: "submit", class: "commentBtn" do
                    %i.fa.fa-comment
                    = "コメントする"
              - else
                %strong
                  %p 
                    = "※※※ コメントの投稿には新規登録/ログインが必要です ※※※"
          .message-container
            .contentt
              .itiran
                = "コメント一覧"
              - if @comments
                - @comments.each do |comment|
                  %li.clearfix
                    .name_name
                      %strong
                        = link_to comment.user.nickname, all_items_user_path(id: comment.user.id)
                        = link_to all_items_user_path(id: comment.user.id) do
                          - if comment.user.avter.present?
                            = image_tag comment.user.avter_url
                          - else
                            = image_tag 'icon/member_photo_noimage_thumb.png'
                    - if comment.user.id == @user.id
                      .user-seller
                        = link_to all_items_user_path(id: @user.id) do
                          = "出品者"
                      .message-body
                        .text
                          = comment.text
                        .icons
                          .left_left
                            = icon("fa", "clock") 
                            %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
                    - else
                      .message-body
                        .text
                          = comment.text
                        .icons
                          = link_to item_comment_path(comment.item.id,comment.id), method: :delete do
                            = icon("fa", "trash-alt")
                          .left_left
                            = icon("fa", "clock") 
                            %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)
        %ul.links
          %li
            = link_to "/" do
              %i.fa.fa-angle-left
              %span
                = "前の商品"
          %li
            = link_to "/" do
              %span 
                = "後ろの商品"
              %i.fa.fa-angle-right
          
        .genre-item
          %h2.genre-item__logo
            = @category.name
          .genre-box
            - @image.each do |img|
              .genre-box__list
                = link_to item_path(id: img.id) do
                  .genre__img
                    = image_tag img.images.first.image_url
                  .genre__body
                    %h3.genre__body__name
                      = img.name
                    .genre__body__price
                      %ul
                        %li
                          = img.price
                        %li
                          %i.fa.fa-star.likeIcon
                          = "0"
                      %p
                        = "(税込)"
                - if img.buyer_id.present?
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
      
  .appBanner
    .inner
      %h2.inner__title
        = "だれでもかんたん、人生を変えるフリマアプリ"
      %p.inner__text
        = "今すぐ無料ダウンロード！"
      .inner__btn
        = link_to "/", class:"abtn" do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to "/", class:"abtn" do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
  = render partial: 'footer'
  = link_to "/" do
    .pur-btn
      %span.pur-btn__text
        = "出品する"
      = image_tag 'icon/icon_camera.png' 